volumes:
    database_data:
        driver: local
    database_data_new:
        driver: local
    rabbitmqetc:
        driver: local
    rabbitmqdata:
        driver: local
    rabbitmqlogs:
        driver: local
    localstack_data:
        driver: local

networks:
    backend:
        driver: bridge
    frontend:
        driver: bridge

services:
    mailpit:
        image: axllent/mailpit:latest
        ports:
            - "1025:1025"
            - "8025:8025"
        environment:
            MP_SMTP_AUTH_ACCEPT_ANY: 1
            MP_SMTP_AUTH_ALLOW_INSECURE: 1
        networks:
            - backend

    db:
        platform: linux/amd64
        image: mysql:8.0
        ports:
            - "3307:3306"
        volumes:
            - database_data_new:/var/lib/mysql
        environment:
            MYSQL_ROOT_PASSWORD: docker
            MYSQL_DATABASE: rule_engine
        restart: on-failure
        networks:
            - backend

    rabbitmq:
        image: rabbitmq:3.9-management-alpine
        environment:
            RABBITMQ_ERLANG_COOKIE: rabbitmqcookie
            RABBITMQ_DEFAULT_USER: rabbit
            RABBITMQ_DEFAULT_PASS: docker
        volumes:
            - rabbitmqetc:/etc/rabbitmq/
            - rabbitmqdata:/var/lib/rabbitmq/
            - rabbitmqlogs:/var/log/rabbitmq/
        networks:
            - backend
        restart: on-failure
        ports:
            - "5672:5672"
            - "15672:15672"

    localstack:
        image: localstack/localstack:latest
        ports:
            - "4566:4566"            # LocalStack Gateway
        environment:
            - SERVICES=s3,sqs,sns,dynamodb,lambda,secretsmanager
            - DEBUG=0
        volumes:
            - ./docker/localstack:/etc/localstack/init/ready.d
        networks:
            - backend
        restart: on-failure

    php:
        build:
            context: .
            dockerfile: docker/php/Dockerfile
        image: backend-home-task-php:latest
        environment:
            # Reference https://gist.github.com/jehaby/61a89b15571b4bceee2417106e80240d
            PHP_IDE_CONFIG: "serverName=docker.php.cli"
            BLACKFIRE_SERVER_ID: ${BLACKFIRE_SERVER_ID}
            BLACKFIRE_SERVER_TOKEN: ${BLACKFIRE_SERVER_TOKEN}
            BLACKFIRE_CLIENT_ID: ${BLACKFIRE_CLIENT_ID}
            BLACKFIRE_CLIENT_TOKEN: ${BLACKFIRE_CLIENT_TOKEN}
            BLACKFIRE_SOCKET: tcp://webserver:8707
            REDIS_HOST: redis
            REDIS_PORT: 6379
            IN_DOCKER: "true"
        expose:
            - 9000
            - 9001
        ports:
            - "8000:8000"
        volumes:
            - ./:/var/www/html
        depends_on:
            - db
            - rabbitmq
            - mailpit
            - localstack
        entrypoint:
            - /bin/sh
            - -c
            - ip -4 route list match 0/0 | awk '{print $$3" host.docker.internal"}' >> /etc/hosts && /usr/local/bin/startup.sh
        restart: on-failure
        tty: true
        user: root
        shm_size: 2g
        networks:
            - backend

    nginx:
        image: nginx:latest
        environment:
            # Exposes the host Blackfire IDs and tokens environment variables.
            BLACKFIRE_SERVER_ID: ${BLACKFIRE_SERVER_ID}
            BLACKFIRE_SERVER_TOKEN: ${BLACKFIRE_SERVER_TOKEN}
            BLACKFIRE_CLIENT_ID: ${BLACKFIRE_CLIENT_ID}
            BLACKFIRE_CLIENT_TOKEN: ${BLACKFIRE_CLIENT_TOKEN}
            BLACKFIRE_SOCKET: tcp://webserver:8707
        ports:
            - "8888:80"
            - "8707:8707"
        volumes:
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
            - ./:/var/www/html
        depends_on:
            - php
        restart: on-failure
        user: root
        networks:
            - backend
            - frontend

    messenger-worker:
        build:
            context: .
            dockerfile: docker/php/Dockerfile
        image: backend-home-task-php:latest
        command: >
            php bin/console messenger:consume async scan_status
            --time-limit=3600 --memory-limit=128M --limit=100
        volumes:
            - ./:/var/www/html
        depends_on:
            - db
            - rabbitmq
            - mailpit
            - localstack
        restart: always
        user: root
        networks:
            - backend
        environment:
            PHP_IDE_CONFIG: "serverName=docker.php.cli"
            IN_DOCKER: "true"


